// 메인
.main {
  .container {
    display: block;
  }
  .main-banner {
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .banner-txt {
      padding: 0;
      text-align: left;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 128rem;
      display: flex;
      flex-direction: column;
      gap: 2rem 0;
      color: #fff;
      z-index: 5;
      opacity: 0;
      margin-left: 10rem;
      transition: 0.5s 0.5s ease-in all;
      .tit {
        font-size: 8rem;
        font-weight: 700;
        line-height: 130%;
        color: #fff;
      }
      .sub-txt {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 3.9rem;
      }
    }
    .swiper-slide-active {
      .banner-txt {
        opacity: 1;
        margin: 0;
      }
    }
    .swiper-slide {
      &::after {
        content: '';
        z-index: 3;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
      &.slide-1 {
        &::after {
          background: linear-gradient(0deg, rgba(0, 14, 34, 0.4) 0%, rgba(0, 14, 34, 0.4) 100%);
        }
      }
    }
  }
  .pagination-wrap {
    padding: 0;
    text-align: left;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: 16rem;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 128rem;
    display: flex;
    align-items: center;
    z-index: 10;
    .swiper-pagination {
      display: inline-block;
      position: relative;
      width: auto;
      top: 0;
      em {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.6rem;
      }
    }
    .progressbar {
      display: none;
      width: 12rem;
      height: 0.2rem;
      margin: 0 0.6rem;
      position: relative;
      top: 0.2rem;
      background-color: rgba(255, 255, 255, 0.35);
      .progress {
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        transition: width linear;
      }
    }
    .swiper-pagination-bullet {
      width: auto;
      height: auto;
      background: none;
      color: #fff;
      border-radius: 0;
      display: inline-flex;
      align-items: center;
      opacity: 0.8;
      //영상 슬라이드
      &:nth-child(1) {
        .progressbar {
          .progress {
            // 영상 길이가 25초
            transition-duration: 25.5s;
          }
        }
      }
      //이미지 슬라이드
      .progressbar {
        .progress {
          // 5초 뒤에 슬라이드 이동
          transition-duration: 7.5s;
        }
      }
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      .progressbar {
        display: block;
      }
    }
  }
  .swiper-control {
    position: relative;
    width: 2rem;
    top: 0.1rem;
    height: 2rem;
    box-sizing: border-box;
    margin-left: 0.6rem;
    background-size: 2rem auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Crect x='5.5' y='4' width='3' height='12' rx='1' fill='white'/%3E%3Crect x='11.5' y='4' width='3' height='12' rx='1' fill='white'/%3E%3C/svg%3E");
  }
  .pause {
    .swiper-control {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M15.6174 9.14852C16.2515 9.53906 16.2515 10.4609 15.6174 10.8515L7.27438 15.9894C6.60812 16.3997 5.75 15.9204 5.75 15.1379L5.75 4.86205C5.75 4.07959 6.60812 3.60026 7.27438 4.01057L15.6174 9.14852Z' fill='white'/%3E%3C/svg%3E");
    }
  }
}
.section-tit {
  margin-top: 16rem;
  font-size: 9.6rem;
  color: #090a10;
  font-weight: 700;
  margin-bottom: 4.8rem;
}
.strength-list {
  width: 100%;
  overflow: visible;
  padding: 0;

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    height: 56rem;
    width: 29rem;
    transition: width 0.3s ease;
    // padding: 0 1.6rem;
    flex-shrink: 0;
    overflow: hidden;

    &.test {
      width: 76rem;
    }

    // 이전/다음 슬라이드 스타일
    &.swiper-slide-prev,
    &.swiper-slide-next {
      .item {
        width: 29rem;
      }
    }
  }
  .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 4rem 3rem;
    .text-box {
      display: flex;
      flex-direction: column;
      gap: 0.6rem 0;
      flex-wrap: wrap;
      .idx {
        font-size: 0;
      }
      .tit {
        font-size: 2.8rem;
        font-weight: 700;
      }
      .sub-tit {
        font-size: 0;
      }
    }
    &.item-1 {
      background-image: url('../../resources/images/main/img-item-1.png');
    }
    &.item-2 {
      background-image: url('../../resources/images/main/img-item-2.png');
    }
    &.item-3 {
      background-image: url('../../resources/images/main/img-item-3.png');
    }
    &.item-4 {
      background-image: url('../../resources/images/main/img-item-4.png');
    }
    &.item-5 {
      background-image: url('../../resources/images/main/img-item-5.png');
    }
  }
  .swiper-slide-active {
    .item {
      .text-box {
        .idx {
          font-size: 1.8rem;
          font-weight: 700;
        }
        .tit {
          font-size: 2.8rem;
          font-weight: 700;
        }
        .sub-tit {
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
    }
  }

  .bottom-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Video.js 컨트롤 숨기기 */
.vjs-poster,
.vjs-hidden,
.vjs-text-track-display,
.vjs-loading-spinner,
.vjs-control-bar {
  display: none !important;
}
