// 메인
.main {
  #section-01 {
    background-color: transparent;
    display: block;
    height: 100vh;
    padding: 0;
  }
  #section-04 {
    height: 100vh;
    padding: 0;
  }
  .container {
    padding-block: 20rem;
  }

  .main-banner {
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .banner-txt {
      padding: 0;
      text-align: left;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 128rem;
      display: flex;
      flex-direction: column;
      gap: 2rem 0;
      color: #fff;
      z-index: 5;
      opacity: 0;
      margin-left: 10rem;
      transition: 0.5s 0.5s ease-in all;
      .tit {
        font-size: 8rem;
        font-weight: 700;
        line-height: 130%;
        color: #fff;
      }
      .sub-txt {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 3.9rem;
      }
    }
    .swiper-slide-active {
      .banner-txt {
        opacity: 1;
        margin: 0;
      }
    }
    .swiper-slide {
      &::after {
        content: '';
        z-index: 3;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
      &.slide-1 {
        &::after {
          background: linear-gradient(0deg, rgba(0, 14, 34, 0.4) 0%, rgba(0, 14, 34, 0.4) 100%);
        }
      }
    }
  }
  .pagination-wrap {
    padding: 0;
    text-align: left;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: 16rem;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 128rem;
    display: flex;
    align-items: center;
    z-index: 10;
    .swiper-pagination {
      display: inline-block;
      position: relative;
      width: auto;
      top: 0;
      em {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.6rem;
      }
    }
    .progressbar {
      display: none;
      width: 12rem;
      height: 0.2rem;
      margin: 0 0.6rem;
      position: relative;
      top: 0.2rem;
      background-color: rgba(255, 255, 255, 0.35);
      .progress {
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        transition: width linear;
      }
    }
    .swiper-pagination-bullet {
      width: auto;
      height: auto;
      background: none;
      color: #fff;
      border-radius: 0;
      display: inline-flex;
      align-items: center;
      opacity: 0.8;
      //영상 슬라이드
      &:nth-child(1) {
        .progressbar {
          .progress {
            // 영상 길이가 25초
            transition-duration: 25.5s;
          }
        }
      }
      //이미지 슬라이드
      .progressbar {
        .progress {
          // 5초 뒤에 슬라이드 이동
          transition-duration: 7.5s;
        }
      }
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      .progressbar {
        display: block;
      }
    }
  }
  .swiper-control {
    position: relative;
    width: 2rem;
    top: 0.1rem;
    height: 2rem;
    box-sizing: border-box;
    margin-left: 0.6rem;
    background-size: 2rem auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Crect x='5.5' y='4' width='3' height='12' rx='1' fill='white'/%3E%3Crect x='11.5' y='4' width='3' height='12' rx='1' fill='white'/%3E%3C/svg%3E");
  }
  .pause {
    .swiper-control {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M15.6174 9.14852C16.2515 9.53906 16.2515 10.4609 15.6174 10.8515L7.27438 15.9894C6.60812 16.3997 5.75 15.9204 5.75 15.1379L5.75 4.86205C5.75 4.07959 6.60812 3.60026 7.27438 4.01057L15.6174 9.14852Z' fill='white'/%3E%3C/svg%3E");
    }
  }
}
.section-tit {
  margin-top: 16rem;
  font-size: 9.6rem;
  color: #090a10;
  font-weight: 700;
  margin-bottom: 4.8rem;
}
.strength-list {
  width: 100%;
  padding: 0;
  display: flex;
  gap: 0 3.2rem;
  .list-box {
    height: 56rem;
    width: 29rem;
    flex: 0 0 auto;
    flex-shrink: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
    cursor: pointer;
    &.decrease,
    &.increase {
      transition: all 0.3s ease-in;
    }
    &.increase {
      flex: 1;
    }
  }
  .item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 4rem 3rem;
    overflow: hidden;
    .text-box {
      display: flex;
      flex-direction: column;
      gap: 0.6rem 0;
      flex-wrap: wrap;
      .idx {
        font-size: 1.8rem;
        font-weight: 700;
        opacity: 0;
        visibility: hidden;
      }
      .tit {
        font-size: 2.8rem;
        font-weight: 700;
      }
      .sub-tit {
        font-size: 1.8rem;
        font-weight: 400;
        opacity: 0;
        visibility: hidden;
      }
    }
    &.item-1 {
      background-image: url('../../resources/images/main/img-item-1.png');
    }
    &.item-2 {
      background-image: url('../../resources/images/main/img-item-2.png');
    }
    &.item-3 {
      background-image: url('../../resources/images/main/img-item-3.png');
    }
    &.item-4 {
      background-image: url('../../resources/images/main/img-item-4.png');
    }
    &.item-5 {
      background-image: url('../../resources/images/main/img-item-5.png');
    }
  }
  .increase {
    .item {
      .text-box {
        .idx {
          opacity: 1;
          visibility: visible;
          transition: all 0.3s 0.3s ease-in;
        }
        .tit {
          font-size: 2.8rem;
          font-weight: 700;
        }
        .sub-tit {
          opacity: 1;
          visibility: visible;
          transition: all 0.3s 0.3s ease-in;
        }
      }
    }
  }

  .bottom-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vjs-tech,
.bottomVideo-dimensions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Video.js 컨트롤 숨기기 */
.vjs-poster,
.vjs-hidden,
.vjs-text-track-display,
.vjs-loading-spinner,
.vjs-control-bar {
  display: none !important;
}

// why choose us
.service-wrap {
  display: flex;
  justify-content: center;
  gap: 4rem;
  color: #090a10;
  @media screen and (max-width: 1280px) {
    flex-direction: column;
    padding: 0 2.4rem;
  }
  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .img-wrap {
    display: block;
    border-radius: 1.2rem;
    overflow: hidden;
    height: 27.3rem;
    width: 100%;
    @media screen and (max-width: 1280px) {
      height: 23.4rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  .item-tit {
    margin-top: 4rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.4rem;
    @media screen and (max-width: 1280px) {
      margin-top: 2.4rem;
      font-size: 2.4rem;
      line-height: 3.1rem;
    }
  }
  .itme-sub {
    margin-top: 1.6rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.4rem;
    @media screen and (max-width: 1280px) {
      margin-top: 1.2rem;
      font-size: 2rem;
      line-height: 2.6rem;
    }
  }
}

// overseas corporation
.corporation-wrap {
  display: flex;
  gap: 0 3.2rem;
  margin-top: 7.3rem;
}
.corporation-item {
  width: 62.4rem;
  height: 37.2rem;
  text-align: left;
  padding: 0 0 4.8rem 4.8rem;
  border-radius: 1.2rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: #10141b;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  &.europe {
    background-image: url('../../resources/images/main/bg-europe.svg');
    .point-1 {
      right: 12.5rem;
      top: 4.6rem;
    }
    .point-2 {
      right: 14.5rem;
      top: 9.6rem;
    }
    .point-3 {
      right: 10.5rem;
      top: 14.6rem;
    }
  }
  &.china {
    background-image: url('../../resources/images/main/bg-china.svg');
    top: 7rem;
    .point-1 {
      right: 10.7rem;
      top: 7.3rem;
    }
    .point-2 {
      right: 11.6rem;
      top: 11.8rem;
    }
  }
  .item-tit {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
  }
  .corporation-list {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin-top: 2.2rem;
    li {
      position: relative;
      padding-left: 1.2rem;
      &::before {
        content: '';
        display: block;
        width: 0.2rem;
        height: 0.2rem;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 1rem;
      }
    }
  }
  .spot-point {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    background-color: rgba(44, 91, 201, 0.8);
    border-radius: 50%;
    &:after {
      content: '';
      position: absolute;
      width: 0.7rem;
      height: 0.7rem;
      background-color: #6bf5f8;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      background-color: $input-focus-line;
      opacity: 0.3;
      animation: ripple 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    }
  }
  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    100% {
      transform: scale(5);
      opacity: 0;
    }
  }
}
