#footer {
  position: relative;
  background-color: #fff;
  border-top: 0.1rem solid #dedede;
  .inner {
    width: 100%;
    position: relative;
    max-width: 132.8rem;
    padding: 0 2.4rem 7.4rem;
    .footer-top {
      width: 100%;
      position: relative;
      padding-block: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.1rem solid #dedede;
      .logo {
        display: block;
        width: 14.5rem;
        height: 2.3rem;
        background: url('../../resources/images/common/logo.svg') 50% 50% / contain no-repeat;
        font-size: 0;
        color: transparent;
      }
      .family-box {
        .family-btn {
          width: 24rem;
          height: 5.6rem;
          position: relative;
          background: #f4f4f4;
          border-radius: 2.8rem;
          padding-inline: 2.4rem;
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          font-weight: 600;
          letter-spacing: -0.028rem;
          color: #404046;
          &::after {
            content: '';
            width: 2.4rem;
            height: 2.4rem;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23CACACA'/%3E%3Cpath d='M12 16L12 8' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 12L8 12' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2.4rem;
          }
        }
      }
    }
    .footer-bottom {
      width: 100%;
      position: relative;
      padding-top: 4rem;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 4rem;
      .menu-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.8rem 3.3rem;
        li {
          position: relative;
          &::after {
            content: '';
            width: 0.1rem;
            height: 1.4rem;
            background: #dedede;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -1.6rem;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
        }
        .menu-item {
          font-size: 1.6rem;
          font-weight: 700;
          letter-spacing: -0.032rem;
          color: #404046;
        }
      }
      .info-list {
        margin-block: 4rem 1.6rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.6rem 2rem;
        li {
          display: flex;
          align-items: flex-start;
          gap: 0.6rem;
        }
        .tit {
          font-size: 1.4rem;
          font-weight: 500;
          letter-spacing: -0.028rem;
          color: #5b5c61;
        }
        .desc {
          font-size: 1.4rem;
          letter-spacing: -0.028rem;
          color: #76777d;
        }
      }
      .copyright-txt {
        font-size: 1.4rem;
        letter-spacing: -0.028rem;
        color: #76777d;
      }
      .right-box {
        padding-bottom: 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #footer {
    border-top: none;
    .inner {
      padding: 0 2.4rem 4.8rem;
      .footer-top {
        padding-block: 2.4rem;
        display: block;
        border-bottom: none;
        .logo {
          display: none;
        }
        .family-box {
          .family-btn {
            width: 100%;
          }
        }
      }
      .footer-bottom {
        padding-top: 0;
        display: block;
        padding-inline: 1.2rem;
        .info-list {
          margin-block: 2.4rem;
          gap: 0.4rem;
          li {
            width: 100%;
          }
          .tit {
            white-space: nowrap;
          }
        }
        .right-box {
          display: none;
        }
      }
    }
  }
}
