#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;

  &.fixed {
    z-index: 30;
    transition: transform 0.3s;
    &.is-up {
      transform: translateY(-100%);
    }
  }
  transition: 0.3s 0.3s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  &.bg-trans {
    background-color: transparent;

    #logo {
      .logo-txt {
        background-image: url('../../resources/images/common/logo-wht.svg');
      }
    }
    #gnb {
      display: flex;
      flex: 1;
      justify-content: center;
      .gnb-list-wrap {
        display: flex;
      }
      .gnb-list {
        .gnb-link {
          color: #fff;
          &:hover {
            color: #2172ec;
          }
        }
      }
    }
    .marketPlace-btn {
      .btn-arrow {
        color: #fff;
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M8.33333 5.83301L12.5 9.99967L8.33333 14.1663' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }
    }
  }
  .gnb-bg {
    display: block;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 11.7rem;
    border-bottom: 0.1rem solid #f0f0f0;
    left: 0;
    right: 0;
    z-index: 15;
    visibility: hidden;
    background-color: #fff;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) height;
  }

  .inner {
    width: 100%;
    max-width: 100%;
    padding: 0 5.6rem;
    align-items: center;
    height: 11.7rem;
    border-bottom: 0.1rem solid #f0f0f0;
    display: flex;
    justify-content: space-between;
  }
  #logo {
    flex: 0 0 auto;
    .logo-txt {
      display: block;
      font-size: 0;
      width: 19rem;
      height: 3rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url('../../resources/images/common/logo.svg');
    }
  }

  .mobile-menu {
    display: none;
  }
  #gnb {
    display: flex;
    flex: 1;
    justify-content: center;
    .gnb-list-wrap {
      display: flex;
      position: relative;
    }
    .gnb-active-bar {
      position: absolute;
      bottom: -0.1rem;
      background-color: #2172ec;
      height: 0.4rem;
      left: 0;
    }
    .gnb-list {
      flex: 1;
      .gnb-link {
        display: block;
        padding: 4.2rem 2rem;
        font-size: 2.2rem;
        color: #24252b;
        font-weight: 700;
        line-height: 2.9rem;
        text-align: center;
        min-width: 19.5rem;
        transition: 0.3s color cubic-bezier(0.075, 0.82, 0.165, 1);
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -0.1rem;
          background-color: #2172ec;
          height: 0.4rem;
          left: 50%;
          right: 50%;
          transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &.active,
        &:hover {
          color: #2172ec;
          &:after {
            left: 0;
            right: 0;
          }
        }
      }
    }
    .depth-2 {
      visibility: hidden;
      overflow: hidden;
      height: 0;
      opacity: 0;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      top: 11.7rem;
      min-width: 0;
      z-index: 20;
      border-left: 0.1rem solid #f0f0f0;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) height;
      li {
        flex: 0;
      }
      .gnb-link {
        font-size: 1.8rem;
        font-weight: 700;
        color: #404046;
        line-height: 2.6rem;
        padding: 0.8rem 2.4rem;
        &.active,
        &:hover {
          color: #2172ec;
          &:after {
            content: none;
          }
        }
      }
    }
  }
  .marketPlace-btn {
    .btn-arrow {
      padding: 1.2rem 2rem;
      font-size: 1.6rem;
      border: 0.1rem solid #dedede;
      border-radius: 2.4rem;
      font-weight: 500;
      color: #404046;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &:after {
        content: '';
        display: block;
        margin-left: 0.2rem;
        position: relative;
        top: 0.1rem;
        width: 2rem;
        height: 2rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M8.33333 5.83301L12.5 9.99967L8.33333 14.1663' stroke='%23404046' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
  }
  .out-link-menu {
    position: absolute;
    visibility: hidden;
  }
}

.gnbOpen,
.main.gnbOpen {
  #header {
    background-color: #fff;
    transition: none;
    #logo {
      .logo-txt {
        background-image: url('../../resources/images/common/logo.svg');
      }
    }
    .gnb-bg {
      opacity: 1;
      background-color: #fff;
      visibility: visible;
    }
    #gnb {
      .gnb-list {
        .gnb-link {
          color: #24252b;
        }
      }
      .depth-2 {
        visibility: visible;
        opacity: 1;
        padding: 2.4rem 0;
      }
    }
    .marketPlace-btn {
      .btn-arrow {
        color: #404046;
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M8.33333 5.83301L12.5 9.99967L8.33333 14.1663' stroke='%23404046' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }
    }
  }
}
