#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;

  &.fixed {
    z-index: 30;
    transition: transform 0.3s;
    &.is-up {
      transform: translateY(-100%);
    }
  }
  &.is-parallax {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  transition: 0.3s 0.3s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  &.bg-trans {
    background-color: transparent;

    #logo {
      .logo-txt {
        background-image: url('../../resources/images/common/logo-wht.svg');
      }
    }
    #gnb {
      display: flex;
      flex: 1;
      justify-content: center;

      .gnb-list-wrap {
        display: flex;
      }
      .gnb-list {
        .gnb-link {
          color: #fff;
          &:hover {
            color: #2172ec;
          }
        }
      }
    }
    .marketPlace-btn {
      .btn-arrow {
        color: #fff;
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M8.33333 5.83301L12.5 9.99967L8.33333 14.1663' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }
    }
    .mobile-menu {
      .btn-gnb {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M4 24H28' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 16H28' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 8H28' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
  }
  .gnb-bg {
    display: block;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 11.7rem;
    border-bottom: 0.1rem solid #f0f0f0;
    left: 0;
    right: 0;
    z-index: 15;
    visibility: hidden;
    background-color: #fff;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) height;
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .inner {
    width: 100%;
    max-width: 100%;
    padding: 0 5.6rem;
    align-items: center;
    height: 11.7rem;
    border-bottom: 0.1rem solid #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 1300px) {
      padding: 0 2.4rem;
    }
    @media screen and (max-width: 1024px) {
      height: 7.2rem;
    }
  }
  #logo {
    flex: 0 0 auto;
    .logo-txt {
      display: block;
      font-size: 0;
      width: 19rem;
      height: 3rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url('../../resources/images/common/logo.svg');
      @media screen and (max-width: 1024px) {
        width: 13.8rem;
        height: 2.2rem;
      }
    }
  }

  .mobile-menu {
    display: none;
    .btn-gnb {
      width: 3.2rem;
      height: 3.2rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M4 24H28' stroke='%2324252B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 16H28' stroke='%2324252B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 8H28' stroke='%2324252B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
  #gnb {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-right: 26.4rem;
    @media screen and (max-width: 1300px) {
      padding-right: 20rem;
    }
    @media screen and (max-width: 1024px) {
      position: fixed;
      padding-right: 0;
      left: 0;
      top: 7.2rem;
      right: 0;
      display: block;
      background-color: #fff;
      z-index: 100;
      overflow-y: auto;
      bottom: auto;
      height: 0;
      opacity: 0;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
    }
    .gnb-list-wrap {
      display: flex;
      position: relative;
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
    .gnb-active-bar {
      position: absolute;
      bottom: -0.1rem;
      background-color: #2172ec;
      height: 0.4rem;
      left: 0;
    }
    .gnb-list {
      flex: 1;
      padding: 0;
      .gnb-link {
        display: block;
        padding: 4.2rem 2.4rem;
        font-size: 2.2rem;
        color: #24252b;
        font-weight: 700;
        line-height: 2.9rem;
        text-align: center;
        min-width: 19.5rem;
        transition: 0.3s color cubic-bezier(0.075, 0.82, 0.165, 1);
        @media screen and (max-width: 1600px) {
          min-width: 10rem;
        }
        @media screen and (max-width: 1024px) {
          text-align: left;
          padding: 1.9rem 2.4rem;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -0.1rem;
          background-color: #2172ec;
          height: 0.4rem;
          left: 50%;
          right: 50%;
          transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
          @media screen and (max-width: 1024px) {
            bottom: auto;
            top: 50%;
            border-radius: 50%;
            transform: translateY(-50%) rotate(180deg);
            right: 2.4rem;
            width: 3.2rem;
            height: 3.2rem;
            background-color: transparent;
            transition: none;
            left: auto;
            background-size: 3.2rem;
            transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
            transform-origin: 50% 50%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M9.33594 19.4443L16.0037 13.333L22.6693 19.4443' stroke='%235B5C61' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
        }
        &.active,
        &:hover {
          color: #2172ec;
          &:after {
            left: 0;
            right: 0;
            @media screen and (max-width: 1024px) {
              left: auto;
              right: 2.4rem;
            }
          }
        }
      }
      &.active {
        .depth-2 {
          visibility: visible;
          opacity: 1;
          height: auto;
        }
      }
    }
    .depth-2 {
      visibility: hidden;
      overflow: hidden;
      height: 0;
      opacity: 0;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      top: 11.7rem;
      min-width: 0;
      z-index: 20;
      border-left: 0.1rem solid #f0f0f0;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) height;
      @media screen and (max-width: 1024px) {
        position: relative;
        top: 0;
        border-left: 0;
        border-radius: 1.2rem;
        background-color: #f6f8f9;
        padding: 0.8rem;
        width: calc(100% - 4.8rem);
        margin: auto;
      }

      li {
        flex: 0;
      }
      .gnb-link {
        font-size: 1.8rem;
        font-weight: 700;
        color: #404046;
        line-height: 2.6rem;
        padding: 0.8rem 2.4rem;
        @media screen and (max-width: 1600px) {
          min-width: 0;
          width: 100%;
        }
        @media screen and (max-width: 1024px) {
          font-weight: 500;
          padding: 1rem;
          &:after {
            content: none;
          }
        }
        &.active,
        &:hover {
          color: #2172ec;
          &:after {
            content: none;
          }
        }
      }
    }
  }
  .marketPlace-btn {
    position: absolute;
    right: 5.4rem;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 1300px) {
      right: 2.4rem;
    }
    @media screen and (max-width: 1024px) {
      position: relative;
      top: 0;
      transform: none;
      right: 0;
      border-top: 0.1rem solid #f0f0f0;
      width: calc(100% - 4.8rem);
      padding-top: 1.2rem;
      margin-top: 1.2rem;
      margin: auto;
    }
    .btn-arrow {
      padding: 1.2rem 2rem;
      font-size: 1.6rem;
      border: 0.1rem solid #dedede;
      border-radius: 2.4rem;
      font-weight: 500;
      color: #404046;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 1024px) {
        border: 0;
        font-size: 2rem;
        width: flex;
        width: 100%;
        justify-content: start;
        padding: 1.9rem 0;
      }
      &:after {
        content: '';
        display: block;
        margin-left: 0.2rem;
        position: relative;
        top: 0.1rem;
        width: 2rem;
        height: 2rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M8.33333 5.83301L12.5 9.99967L8.33333 14.1663' stroke='%23404046' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        @media screen and (max-width: 1024px) {
          margin-left: auto;
          background-size: 3.2rem;
        }
      }
    }
  }
  .out-link-menu {
    position: absolute;
    visibility: hidden;
    height: 0;
    z-index: 20;
    right: 0;
    top: 11.6rem;
    width: 36.4rem;
    display: flex;
    padding: 3.2rem;
    flex-direction: column;
    background-color: #f4f4f4;
    background-position: right 4.5rem;
    background-repeat: no-repeat;
    background-size: 22.4rem auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='224' height='236' viewBox='0 0 224 236' fill='none'%3E%3Cpath d='M189.272 186.724C162.98 210.596 137.619 222.74 113.915 222.74C76.2883 222.74 53.8262 198.193 53.8262 157.143C53.8262 151.071 54.2402 144.895 55.0166 138.823H107.601C137.412 138.823 224 117.546 224 52.3637C224 13.7007 186.166 0 153.819 0C73.3383 0 0 73.278 0 153.77C0 208.054 43.5786 249 101.338 249C137.205 249 172.503 233.535 206.299 203.123L208.059 201.566L190.824 185.479L189.375 186.776L189.272 186.724ZM149.368 20.3435C166.654 20.3435 177.368 31.2937 177.368 48.9385C177.368 72.4477 163.135 90.9229 135.031 103.793C113.346 113.757 90.9353 116.508 89.0721 116.508H58.536C65.7301 76.4437 103.667 20.3954 149.368 20.3954' fill='%23EAEAEA'/%3E%3C/svg%3E");
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) height;
    @media screen and (max-width: 1300px) {
      width: 20rem;
      background-position: right bottom;
      background-size: 12.4rem auto;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      bottom: 0;
      top: auto;
      z-index: 20;
      visibility: visible;
      background-color: #fff;
      position: fixed;
      flex-direction: row;
      background-image: none;
      height: auto !important;
      padding: 2.3rem 0;
    }
    .out-arrow {
      position: relative;
      font-size: 2.4rem;
      font-weight: 700;
      color: #404046;
      display: inline-block;
      padding: 1.7rem;
      line-height: 3rem;
      @media screen and (max-width: 1300px) {
        padding: 1rem;
        font-size: 1.8rem;
      }
      @media screen and (max-width: 1024px) {
        flex: 1;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: center;
        line-height: 2.6rem;
        padding: 0;
      }
      &::after {
        content: '';
        width: 3rem;
        height: 3rem;
        position: absolute;
        display: block;
        right: 0;
        top: 50%;
        margin-top: -1.5rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M11.5294 10L19.8824 10.1176M19.8824 10.1176L20 18.4706M19.8824 10.1176L10 20' stroke='%2324252B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        @media screen and (max-width: 1024px) {
          content: none;
        }
      }
      & + .out-arrow {
        border-top: 0.1rem solid #dedede;
        @media screen and (max-width: 1024px) {
          border-top: 0;
          &::before {
            content: '';
            width: 0.1rem;
            height: 1.8rem;
            background-color: #dedede;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

// pc
.gnbOpen,
.main.gnbOpen {
  #header {
    background-color: #fff;
    transition: none;
    #logo {
      .logo-txt {
        background-image: url('../../resources/images/common/logo.svg');
      }
    }
    .gnb-bg {
      opacity: 1;
      background-color: #fff;
      visibility: visible;
    }
    #gnb {
      .gnb-list {
        .gnb-link {
          color: #24252b;
          &.active,
          &:hover {
            color: #2172ec;
          }
        }
      }
      .depth-2 {
        visibility: visible;
        opacity: 1;
        padding: 2.4rem 0;
      }
    }
    .marketPlace-btn {
      .btn-arrow {
        color: #404046;
        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M8.33333 5.83301L12.5 9.99967L8.33333 14.1663' stroke='%23404046' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }
    }
    .out-link-menu {
      visibility: visible;
    }
  }
}

// mobile
.mGnbOpen {
  height: 100vh;
  overflow: hidden;
  #header {
    .mobile-menu {
      .btn-gnb {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M24 8L8 24M24 24L8 8' stroke='%2324252B' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
      }
    }
    &.bg-trans {
      .mobile-menu {
        .btn-gnb {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M24 8L8 24M24 24L8 8' stroke='%23ffffff' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
        }
      }
    }
    #gnb {
      height: calc(100% - 7.2rem);
      top: 7.2rem;
      padding-bottom: 7.2rem;
      opacity: 1;
      .gnb-list {
        &.active {
          .gnb-link {
            &:after {
              transform: translateY(-50%) rotate(360deg);
            }
          }
        }
      }
    }
  }
}
