// 공통 레이아웃
#wrap {
  padding-top: 11.7rem;
  box-sizing: border-box;
  overflow-x: hidden;
  &.main {
    padding-top: 0;
  }
}
.inner {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 132.8rem;
  padding: 0 2.4rem;
}

// fadeInUp 애니메이션
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

.fadeInUp {
  animation-name: fadeInUp;
}

// data-fade 속성을 가진 요소들의 초기 상태
[data-fade] {
  opacity: 0;
}

// Container
.container {
  display: flex;
  align-items: center; // center에서 flex-start로 변경
  justify-content: center; // center에서 flex-start로 변경
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background-color: #fff;

  .center-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &.active + .container {
    transform: translateY(100%);
    z-index: 10;
  }
}

.pc-show {
  display: block;
}
.mob-show {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc-show {
    display: none;
  }
  .mob-show {
    display: block;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
